<div class="w-100 h-100 d-flex justify-content-center align-items-center">
	<div class="w-50 mx-auto border border-primary p-4 rounded">
		<h4 class="text-center size-5 text-primary">Register</h4>
		<form action="/register/userstore" method="post">
			<div class="form-group">
				<label for="email">Email</label>
				<input
					class="form-control"
					id="inputName"
					placeholder="Nhập email"
					name="email"
				/>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input
					type="password"
					class="form-control"
					id="inputName"
					name="password"
					placeholder="Nhập password"
				/>
			</div>
			<div>
				<button type="submit" class="btn btn-primary mr-5 w-100">Đăng ký</button>
			</div>
		</form>
	</div>
</div>